/* You can add global styles to this file, and also import other style files */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
  }

.container-animation{
    width: 900px;
    height: 400px;
    border: 2px solid red;
}