@page "/"

@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@inject IJSRuntime JsRuntime;

<PageTitle>Home</PageTitle>

<h1>Benchmarks</h1>

<p>
    <a href="/bouncingballs">Bouncing Balls</a>
</p>

<p>
    <a href="/fadingsquares">Fading Squares</a>
</p>