@page "/"

<PageTitle>Index</PageTitle>

<h1>WebAssembly Benchmark</h1>

<form>
    <div class="form-group mb-5">
        <label for="nbAnimations">Number of animations</label>
        <input id="nbAnimations" name="nbAnimations" min="1" max="99999" type="number" />
    </div>
    <div>
        <button class="btn btn-primary">Start test</button>
        <button class="btn btn-danger">Decrease speed</button>
        <button class="btn btn-success">Increase speed</button>        
    </div>    
</form>