<canvas #canvas width="900" height="400"></canvas>
<footer class="footer">
    <form #testForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="startAnimationAmount">Starting Number of Animations:  </label>
            <input type="number" id="startAnimationAmount" name="startAnimationAmount" [(ngModel)]="startAnimationAmount">
        </div>
        <div>
            <label for="startSpeed">Starting Speed:  </label>
            <input type="number" id="startSpeed" name="startSpeed" [(ngModel)]="startSpeed">
        </div>
        <div>
            <label for="incrementDuration">Time Before Increment (Seconds):   </label>
            <input type="number" id="incrementDuration" name="incrementDuration" [(ngModel)]="incrementDuration">
        </div>
        <div>
            <label for="testDuration">Duration of Test (Seconds):  </label>
            <input type="number" id="testDuration" name="testDuration" [(ngModel)]="testDuration">
        </div>
        <div>
            <label for="animationIncrement">Number of animations to add per increment:  </label>
            <input type="number" id="animationIncrement" name="animationIncrement" [(ngModel)]="animationIncrement">
        </div>
        <div>
            <label for="speedIncrement">Amount to increment animation speed by:  </label>
            <input type="number" id="speedIncrement" name="speedIncrement" [(ngModel)]="speedIncrement">
        </div>
        <button type="submit">Start Test</button>
    </form>
    <app-button (btnClick)="endTest()" text="End Test"></app-button>
</footer>
